<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.musicplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".service.ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_music_player"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_music_player"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicPlayer"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".activity.DarkLightModeActivity"
            android:exported="true"
            android:label="Dark Light mode"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MusicPlayerActivity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.SigninActivity"
            android:exported="true"
            android:theme="@style/Theme.MusicPlayer" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.CustomMusicPlayer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SignupActivity"
            android:exported="true"
            android:usesCleartextTraffic="true" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:theme="@style/Theme.MusicPlayer" />
        <activity
            android:name=".test.TestDatabaseActivity"
            android:exported="true" />

        <service android:name=".service.MusicPlayerService" />

        <receiver
            android:name=".service.NotificationReceiver"
            android:enabled="true" />
    </application>

</manifest>